name: E2E Playwright Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
    # Clonar repo de tests
    - name: Checkout tests repo
      uses: actions/checkout@v4

    # Clonar frontend
    - name: Clone frontend
      run: git clone https://github.com/jhonnierdlc/front-test.git front-test

    # Clonar backend
    - name: Clone backend
      run: git clone https://github.com/jhonnierdlc/back-test.git back-test

    # Instalar dependencias backend
    - name: Install backend dependencies
      run: |
        cd back-test
        npm install

    # Levantar backend
    - name: Start backend
      run: |
        cd back-test
        npm run start &

    # Instalar dependencias frontend
    - name: Install frontend dependencies
      run: |
        cd front-test/employee-app
        npm install

    # Build frontend
    - name: Build frontend
      run: |
        cd front-test/employee-app
        npm run build

    # Servir frontend
    - name: Serve frontend
      run: |
        cd front-test/employee-app
        npm install -g serve
        serve -s dist/employee-app -l 4200 &
        npx wait-on http://localhost:4200

    # Instalar dependencias de tests
    - name: Install test dependencies
      run: npm install

    # Ejecutar Playwright
    - name: Run Playwright tests
      run: npx playwright test --reporter=html

    # Subir reporte
    - name: Upload Playwright report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
