name: E2E Playwright Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
    # Clonar repo de tests
    - name: Checkout tests repo
      uses: actions/checkout@v4

    # Clonar frontend
    - name: Clone frontend
      run: git clone https://github.com/jhonnierdlc/front-test.git frontend

    # Clonar backend
    - name: Clone backend
      run: git clone https://github.com/jhonnierdlc/back-test.git backend

    # Instalar dependencias backend
    - name: Install backend dependencies
      run: |
        cd backend
        npm install

    # Levantar backend
    - name: Start backend
      run: |
        cd backend
        npm run start &

    # Instalar dependencias frontend
    - name: Install frontend dependencies
      run: |
        cd frontend
        npm install

    # Levantar frontend
    - name: Build and serve frontend
      run: |
        cd frontend
        npm run build
        npm install -g serve
        serve -s dist/front-test -l 4200 &
        npx wait-on http://localhost:4200

    # Instalar dependencias de tests
    - name: Install test dependencies
      run: npm install

    # Ejecutar Playwright
    - name: Run Playwright tests
      run: npx playwright test --reporter=html

    # Subir reporte
    - name: Upload Playwright report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
